* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: Montserrat;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
li.skills-container-item::before {
  content: '\2606';
  color: #ff6b08;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
li.project-item::before {
  content: '\2713';
  color: #ff6b08;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  width: 370px;

  padding-top: 30px;

  background: linear-gradient(180deg, rgb(12, 19, 75) 18%, rgb(92, 146, 219));
}
.my-photo {
  width: 370px;
  box-shadow: #e2e2e2 2px 0px 7px 3px;
}
.about-me-container {
  position: relative;
  padding: 54px;
}
.skills-container {
  margin: 30px;
  color: #ffffff;
}
.contact-info {
  display: flex;
  align-items: center;
  line-height: 30px;
  margin-bottom: 5px;
}
.contact-info img,
.contact-info img {
  transition: transform 300ms ease;
}
.contact-info:hover img,
.contact-info:focus img {
  transform: scale(1.4);
}
.contact-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.contact-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}
.icon {
  width: 20px;
  margin-right: 8px;
}
.my-element {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.skills-container-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-left: 15px;
}
.skills-container-text {
  color: #ffffff;
}
.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-top: 10px;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}
.rubric {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.tech-name {
  color: #383737;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.project-item {
  font-weight: 700;
  margin-left: 17px;
  margin-bottom: 10px;
}
.project-item a {
  transition: all 300ms linear;
}
.project-item:hover a,
.project-item:focus a {
  color: tomato;
}
.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.company {
  color: #ff781e;
}
.period {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
}
.devider {
  height: 14px;
}
.duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
  margin-bottom: 12px;
}
.experience li {
  list-style: square;
  list-style-position: inside;
}


.cv-download {
  position: fixed;
  top: 36px;
  right: 23%;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(30, 80, 160);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.cv-download.hidden-for-pdf {
  display: none;
}

.cv-download:hover {
  background-color: rgb(92, 146, 300);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cv-download:active {
 box-shadow: none;
}